$primary-color: #23CE6B;

* {
    background-color: #1C1C1C;
    color: white;
    margin: 0;
    padding: 0;
    font-family: 'Roboto Mono', monospace;
    &::selection {
        color: $primary-color;
        background-color: gray;
    }
}

.navbar {
    display: flex;
    font-size: 2rem;
    font-weight: 200;
    margin-top: 0.625rem;
    position: fixed;
    top: 0%;
    right: 0%;
    margin-right: 2rem;
    a {
        margin: 0.625rem;
        text-decoration: none;
        &:hover {
            color: $primary-color;
        }
    }
}

.intro-section {
    height: 100vh;
    display: flex;
    align-items: center;
    margin-left: 10rem;
    font-size: 2rem;
    &__text {
        p {
            font-size: 1.5rem;
            margin-top: 1.25rem;
        } 
    }   
}

.about-section {
    display: flex;
    &__text {
        width: 50%;
        padding: 2rem;
        h2 {
            margin: 1.25rem 0;
            font-size: 2rem;
            color: $primary-color;
            border-bottom: 2px solid $primary-color;
            padding-bottom: 2px;
            width: max-content;
        }
        p {
            margin: 0.625rem 0;
        }
        h3 {
            text-align: center;
            margin-top: 5rem;
            margin-bottom: 1rem;
        }
        table {
            width: 100%;
            border: 1px solid $primary-color;
            padding-left: 1.25rem;
        }
    }
    &__profile {
        width: 50%;
        margin-top: 2rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        img {
            object-fit: cover;
            width: 75%;
            height: 43.75rem;
            border: 5px solid white;
            border-radius: 0.625rem;
        }
        &__icons {
            display: flex;
            justify-content: center;
            align-items: center;
            a {
                padding: 0.3125rem 1.875rem;
                font-size: 2.5rem;
                i {
                    &:hover {
                        color: $primary-color;
                    }
                }
            }
        }
    }
}

.experience-section {
    padding: 2rem;
    h2 {
        margin: 1.25rem 0;
        font-size: 2rem;
        color: $primary-color;
        border-bottom: 2px solid $primary-color;
        padding-bottom: 2px;
        width: max-content;
    }
    &__content {
        display: flex;
        align-items: center;
        margin: 0.625rem;
        font-size: 1.5rem;
        img {
            margin-right: 1.25rem;
            width: 6.35rem;
        }
        h3 {
            border-bottom: 2px solid white;
            padding-bottom: 2px;
            width: max-content;
        }
        h5 {
            margin-top: 0.3125rem;
        }

        p {
            font-size: 1rem;
            margin-top: 0.3125rem;
        }
    }
}

.project-section {
    padding: 2rem;
    h2 {
        margin: 1.25rem 0;
        font-size: 2rem;
        color: $primary-color;
        border-bottom: 2px solid $primary-color;
        padding-bottom: 2px;
        width: max-content;
    }
    &__container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        font-size: 1.5rem;
        .project-card {
            padding: 0.625rem;
            &__img {
                img {
                    width: 100%;
                    border: 1px solid white;
                }
            }
            &__content {
                h5 {
                    text-align: center;
                    margin-bottom: 0.3125rem;
                }
                h6 {
                    text-align: center;
                }
                p {
                    font-size: 1rem;
                    margin-top: 0.3125rem;
                }
            }
            &__links {
                text-align: center;
                display: flex;
                justify-content: center;
                margin-top: 0.625rem;
                &__link {
                    margin: 0.625rem;
                    padding: 0.625rem;
                    border: 1px solid white;
                    &:hover {
                        border: 1px solid $primary-color;
                        a {
                            color: $primary-color;
                        }
                        i {
                            color: $primary-color;
                        }
                    }
                    a {
                        text-decoration: none;
                    }
                }
            }
        }
    }
}

.contact-section {
    padding: 2rem;
    h2 {
        margin: 1.25rem 0;
        font-size: 2rem;
        color: $primary-color;
        border-bottom: 2px solid $primary-color;
        padding-bottom: 2px;
        width: max-content;
    }
    &__container {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 2rem auto;
        .contact-form {
            border: 2px solid $primary-color;
            border-radius: 5px;
            padding: 1rem;
            font-size: 2rem;
            font-weight: 200;
            label {
                display: block;
                width: 100%;
                margin: 0.1875rem 0;
            }
            textarea, input {
                display: block;
                width: 100%;
                margin: 0.1875rem 0;
                border: 1px solid white;
                border-radius: 3px;
            }
            &__button {
                display: flex;
                justify-content: center;
                button {
                    font-size: 1.5rem;
                    font-weight: 200;
                    width: 40%;
                    border: 1px solid white;
                    border-radius: 3px;
                    padding: 0.3125rem 0;
                    margin-top: 0.625rem;
                    cursor: pointer;
                    &:hover {
                        background-color: $primary-color;
                    }
                }
            }
        }
    }
}

.footer {
    text-align: center;
    margin: 0.625rem 0;
}

@media only screen and (max-width: 768px) {
    .navbar {
        position: relative;
        font-size: 1rem;
    }
    .intro-section {
        font-size: 1rem;
        margin-left: 1rem;
        p {
            font-size: 1rem;
        }
    }
    .about-section {
        display: grid;
        grid-template-columns: 1fr;
        h2 {
            font-size: 1.5rem;
        }
        &__text {
            padding: 1rem;
            width: auto;
            text-align: justify;
            h3 {
                margin-top: 2rem;
            }
            table {
                padding-left: 0;
            }
        }
        &__profile {
            width: auto;
            img {
                height: auto;
            }
            &__icons {
                a{
                    font-size: 2rem;
                    padding: 0.625rem 1.875rem;
                }
            }
        }
    }
    .experience-section {
        padding: 1rem;
        h2{
            font-size: 1.5rem;
        }
        &__content {
            display: inline;
            // grid-template-columns: 1fr;
            font-size: 1rem;
            img {
                display: none;
            }
        }
    }
    .project-section {
        padding: 1rem;
        font-size: 1rem;
        h2 {
            font-size: 1.5rem;
        }
        &__container {
            grid-template-columns: 1fr;
        }
    }
    .contact-section {
        padding: 1rem;
        h2 {
            font-size: 1.5rem;
        }
        &__container {
            form {
                font-size: 1rem;
                button {
                    font-size: 1rem;
                }
            }
        }
    }
    .footer {
        text-align: center;
        font-size: 0.625rem;
    }
}

@media only screen and (min-width: 769px) and (max-width: 991px) {
    .navbar {
        font-size: 1.5rem;
    }
    .intro-section {
        margin-left: 1rem;
        p {
            font-size: 1.25rem;
        }
    }
    .about-section {
        display: grid;
        grid-template-columns: 1fr;
        &__text {
            padding: 1rem;
            width: auto;
            text-align: justify;
            h3 {
                margin-top: 2rem;
            }
        }
        &__profile {
            width: auto;
            img {
                height: 35rem;
            }
            &__icons {
                a{
                    padding: 0.625rem 1.875rem;
                }
            }
        }
    }
    .experience-section {
        padding: 1rem;
        &__content {
            display: grid;
            grid-template-columns: 1fr;
            font-size: 1rem;
            text-align: justify;
            img {
                display: none;
            }
        }
    }
    .project-section {
        padding: 1rem;
        font-size: 1rem;
        &__container {
            grid-template-columns: 1fr;
        }
    }
    .contact-section {
        width: auto;
        padding: 1rem;
        &__container {
            form {
                font-size: 1.5rem;
                button {
                    font-size: 1rem;
                }
            }
        }
    }
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
    .navbar {
        font-size: 1.5rem;
    }
    .intro-section {
        margin-left: 1rem;
    }
    .about-section {
        &__text {
            padding: 1rem;
            text-align: justify;
            h3 {
                margin-top: 2rem;
            }
            table {
                padding-left: 0;
            }
        }
        &__profile {
            &__icons {
                a{
                    font-size: 2rem;
                    padding: 0.625rem 1.875rem;
                }
            }
        }
    }
    .experience-section {
        padding: 1rem;
        h2{
            font-size: 1.5rem;
        }
        &__content {
            display: grid;
            grid-template-columns: 1fr;
            font-size: 1rem;
            text-align: justify;
            img {
                display: none;
            }
        }
    }
    .project-section {
        padding: 1rem;
        font-size: 1rem;
        h2 {
            font-size: 1.5rem;
        }
        &__container {
            grid-template-columns: 1fr;
        }
    }

}