$primary-color: #23CE6B;

* {
    background-color: #1C1C1C;
    color: white;
    margin: 0;
    padding: 0;
    font-family: 'Roboto Mono', monospace;
    &::selection {
        color: $primary-color;
        background-color: gray;
    }
}

.navbar {
    display: flex;
    margin-top: 0.625em;
    position: fixed;
    top: 0%;
    right: 0%;
    margin-right: 2em;
    a {
        margin: 0.625em;
        font-size: 0.75em;
        text-decoration: none;
        &:hover {
            color: $primary-color;
        }
    }
}

.intro-section {
    height: 100vh;
    display: flex;
    align-items: center;
    margin-left: 4em;
    &--text {
        p {
            font-size: 0.5em;
            margin-top: 1.25em;
        } 
    }   
}

.about-section {
    display: flex;
    height: 100vh;
    &--text {
        width: 50%;
        padding: 2em;
        h2 {
            color: $primary-color;
            border-bottom: 5px solid $primary-color;
            padding-bottom: 2px;
            width: max-content;
        }
        p {
            font-size: 0.5em;
            margin: 10px 0;
        }
        h6 {
            text-align: center;
            margin: 10px 0;
        }
        table {
            width: 100%;
            font-size: 0.5em;
            border: 1px solid $primary-color;
            padding-left: 20px;
        }
    }
    &--profile {
        margin-top: 2em;
        img {
            object-fit: cover;
            height: 75vh;
            border: 5px solid white;
            border-radius: 10px;
        }
        &--icons {
            display: flex;
            justify-content: center;
            align-items: center;
            a {
                padding: 5px 30px;
                font-size: 1.5em;
                i {
                    &:hover {
                        color: $primary-color;
                    }
                }
            }
        }
    }
}

.experience-section {
    height: 100vh;
    padding: 2em;
    h2 {
        text-align: center;
        margin-top: 10px;
    }
    &--content {
        display: flex;
        align-items: center;
        margin: 10px;
        img {
            margin-right: 20px;
            width: 70px;
        }
        h3 {
            font-size: 1em;
            color: $primary-color;
            border-bottom: 5px solid $primary-color;
            padding-bottom: 2px;
            width: max-content;
        }
        h5 {
            font-size: 0.75em;
            margin-top: 5px;
        }
        h6 {
            font-size: 0.6em;
        }
        p {
            margin-top: 5px;
            font-size: 0.5em;
        }
    }
}