* {
  background-color: #1C1C1C;
  color: white;
  margin: 0;
  padding: 0;
  font-family: "Roboto Mono", monospace;
}
*::selection {
  color: #23CE6B;
  background-color: gray;
}

.navbar {
  display: flex;
  margin-top: 0.625rem;
  position: fixed;
  top: 0%;
  right: 0%;
  margin-right: 2rem;
}
.navbar a {
  margin: 0.625rem;
  font-size: 0.75rem;
  text-decoration: none;
}
.navbar a:hover {
  color: #23CE6B;
}

.intro-section {
  height: 100vh;
  display: flex;
  align-items: center;
  margin-left: 4rem;
}
.intro-section--text p {
  font-size: 0.5rem;
  margin-top: 1.25rem;
}

.about-section {
  display: flex;
  height: 100vh;
}
.about-section--text {
  width: 50%;
  padding: 2rem;
}
.about-section--text h2 {
  color: #23CE6B;
  border-bottom: 2px solid #23CE6B;
  padding-bottom: 2px;
  width: max-content;
}
.about-section--text p {
  font-size: 0.5rem;
  margin: 0.625rem 0;
}
.about-section--text h6 {
  text-align: center;
  margin: 0.625rem 0;
}
.about-section--text table {
  width: 100%;
  font-size: 0.5rem;
  border: 1px solid #23CE6B;
  padding-left: 1.25rem;
}
.about-section--profile {
  margin-top: 2rem;
}
.about-section--profile img {
  object-fit: cover;
  height: 75vh;
  border: 5px solid white;
  border-radius: 0.625rem;
}
.about-section--profile--icons {
  display: flex;
  justify-content: center;
  align-items: center;
}
.about-section--profile--icons a {
  padding: 0.3125rem 1.875rem;
  font-size: 1.5rem;
}
.about-section--profile--icons a i:hover {
  color: #23CE6B;
}

.experience-section {
  height: 100vh;
  padding: 2rem;
}
.experience-section h2 {
  margin: 1.25rem 0;
  color: #23CE6B;
  border-bottom: 2px solid #23CE6B;
  padding-bottom: 2px;
  width: max-content;
}
.experience-section--content {
  display: flex;
  align-items: center;
  margin: 0.625rem;
}
.experience-section--content img {
  margin-right: 1.25rem;
  width: 4.375rem;
}
.experience-section--content h3 {
  font-size: 0.875rem;
  border-bottom: 2px solid white;
  padding-bottom: 2px;
  width: max-content;
}
.experience-section--content h5 {
  font-size: 0.75rem;
  margin-top: 0.3125rem;
}
.experience-section--content h6 {
  font-size: 0.6rem;
}
.experience-section--content p {
  margin-top: 0.3125rem;
  font-size: 0.5rem;
}

.project-section {
  height: 100vh;
  padding: 2rem;
}
.project-section h2 {
  margin: 1.25rem 0;
  color: #23CE6B;
  border-bottom: 2px solid #23CE6B;
  padding-bottom: 2px;
  width: max-content;
}
.project-section--container {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.project-section--container--card {
  padding: 0.625rem;
}
.project-section--container--card__img img {
  width: 100%;
  border: 1px solid white;
}
.project-section--container--card__content h5 {
  font-size: 0.75rem;
  text-align: center;
  margin-bottom: 0.3125rem;
}
.project-section--container--card__content h6 {
  font-size: 0.6rem;
  text-align: center;
}
.project-section--container--card__content p {
  margin-top: 0.3125rem;
  font-size: 0.5rem;
}
.project-section--container--card__content__link {
  text-align: center;
}
.project-section--container--card__content__link a {
  font-size: 0.5rem;
  text-decoration: none;
}
.project-section--container--card__content__link a:hover {
  color: #23CE6B;
}

/*# sourceMappingURL=style.css.map */
