* {
  background-color: #1C1C1C;
  color: white;
  margin: 0;
  padding: 0;
  font-family: "Roboto Mono", monospace;
}
*::selection {
  color: #23CE6B;
  background-color: gray;
}

.navbar {
  display: flex;
  font-size: 2rem;
  font-weight: 200;
  margin-top: 0.625rem;
  position: fixed;
  top: 0%;
  right: 0%;
  margin-right: 2rem;
}
.navbar a {
  margin: 0.625rem;
  text-decoration: none;
}
.navbar a:hover {
  color: #23CE6B;
}

.intro-section {
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  margin-left: 10rem;
  font-size: 2rem;
}
.intro-section--text p {
  font-size: 1.5rem;
  margin-top: 1.25rem;
}

.about-section {
  display: flex;
  width: 100%;
}
.about-section--text {
  width: 50%;
  padding: 2rem;
}
.about-section--text h2 {
  margin: 1.25rem 0;
  font-size: 2rem;
  color: #23CE6B;
  border-bottom: 2px solid #23CE6B;
  padding-bottom: 2px;
  width: max-content;
}
.about-section--text p {
  margin: 0.625rem 0;
}
.about-section--text h3 {
  text-align: center;
  margin-top: 5rem;
  margin-bottom: 1rem;
}
.about-section--text table {
  width: 100%;
  border: 1px solid #23CE6B;
  padding-left: 1.25rem;
}
.about-section--profile {
  width: 50%;
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.about-section--profile img {
  object-fit: cover;
  width: 75%;
  height: 43.75rem;
  border: 5px solid white;
  border-radius: 0.625rem;
}
.about-section--profile--icons {
  display: flex;
  justify-content: center;
  align-items: center;
}
.about-section--profile--icons a {
  padding: 0.3125rem 1.875rem;
  font-size: 2.5rem;
}
.about-section--profile--icons a i:hover {
  color: #23CE6B;
}

.experience-section {
  width: 100%;
  padding: 2rem;
}
.experience-section h2 {
  margin: 1.25rem 0;
  font-size: 2rem;
  color: #23CE6B;
  border-bottom: 2px solid #23CE6B;
  padding-bottom: 2px;
  width: max-content;
}
.experience-section--content {
  display: flex;
  align-items: center;
  margin: 0.625rem;
  font-size: 1.5rem;
}
.experience-section--content img {
  margin-right: 1.25rem;
  width: 6.35rem;
}
.experience-section--content h3 {
  border-bottom: 2px solid white;
  padding-bottom: 2px;
  width: max-content;
}
.experience-section--content h5 {
  margin-top: 0.3125rem;
}
.experience-section--content p {
  font-size: 1rem;
  margin-top: 0.3125rem;
}

.project-section {
  width: 100%;
  padding: 2rem;
}
.project-section h2 {
  margin: 1.25rem 0;
  font-size: 2rem;
  color: #23CE6B;
  border-bottom: 2px solid #23CE6B;
  padding-bottom: 2px;
  width: max-content;
}
.project-section--container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  font-size: 1.5rem;
}
.project-section--container--card {
  padding: 0.625rem;
}
.project-section--container--card__img img {
  width: 100%;
  border: 1px solid white;
}
.project-section--container--card__content h5 {
  text-align: center;
  margin-bottom: 0.3125rem;
}
.project-section--container--card__content h6 {
  text-align: center;
}
.project-section--container--card__content p {
  font-size: 1rem;
  margin-top: 0.3125rem;
}
.project-section--container--card__content__links {
  text-align: center;
  display: flex;
  justify-content: center;
  margin-top: 0.625rem;
}
.project-section--container--card__content__links__link {
  margin: 0.625rem;
  padding: 0.625rem;
  border: 1px solid white;
}
.project-section--container--card__content__links__link:hover {
  border: 1px solid #23CE6B;
}
.project-section--container--card__content__links__link:hover a {
  color: #23CE6B;
}
.project-section--container--card__content__links__link:hover i {
  color: #23CE6B;
}
.project-section--container--card__content__links__link a {
  text-decoration: none;
}

.contact-section {
  padding: 2rem;
  width: 100%;
}
.contact-section h2 {
  margin: 1.25rem 0;
  font-size: 2rem;
  color: #23CE6B;
  border-bottom: 2px solid #23CE6B;
  padding-bottom: 2px;
  width: max-content;
}
.contact-section--container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 2rem auto;
}
.contact-section--container--form {
  border: 2px solid #23CE6B;
  border-radius: 5px;
  padding: 1rem;
  font-size: 2rem;
  font-weight: 200;
}
.contact-section--container--form label {
  display: block;
  width: 100%;
  margin: 0.1875rem 0;
}
.contact-section--container--form textarea, .contact-section--container--form input {
  display: block;
  width: 100%;
  margin: 0.1875rem 0;
  border: 1px solid white;
  border-radius: 3px;
}
.contact-section--container--form__button {
  display: flex;
  justify-content: center;
}
.contact-section--container--form__button button {
  font-size: 1.5rem;
  font-weight: 200;
  width: 40%;
  border: 1px solid white;
  border-radius: 3px;
  padding: 0.3125rem 0;
  margin-top: 0.625rem;
  cursor: pointer;
}
.contact-section--container--form__button button:hover {
  background-color: #23CE6B;
}

.footer {
  text-align: center;
  margin: 0.625rem 0;
}

/*# sourceMappingURL=style.css.map */
