* {
  background-color: #1C1C1C;
  color: white;
  margin: 0;
  padding: 0;
  font-family: "Roboto Mono", monospace;
}
*::selection {
  color: #23CE6B;
  background-color: gray;
}

.navbar {
  display: flex;
  font-size: 2rem;
  font-weight: 200;
  margin-top: 0.625rem;
  position: fixed;
  top: 0%;
  right: 0%;
  margin-right: 2rem;
}
.navbar a {
  margin: 0.625rem;
  text-decoration: none;
}
.navbar a:hover {
  color: #23CE6B;
}

.intro-section {
  height: 100vh;
  display: flex;
  align-items: center;
  margin-left: 10rem;
  font-size: 2rem;
}
.intro-section__text p {
  font-size: 1.5rem;
  margin-top: 1.25rem;
}

.about-section {
  display: flex;
}
.about-section__text {
  width: 50%;
  padding: 2rem;
}
.about-section__text h2 {
  margin: 1.25rem 0;
  font-size: 2rem;
  color: #23CE6B;
  border-bottom: 2px solid #23CE6B;
  padding-bottom: 2px;
  width: max-content;
}
.about-section__text p {
  margin: 0.625rem 0;
}
.about-section__text h3 {
  text-align: center;
  margin-top: 5rem;
  margin-bottom: 1rem;
}
.about-section__text table {
  width: 100%;
  border: 1px solid #23CE6B;
  padding-left: 1.25rem;
}
.about-section__profile {
  width: 50%;
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.about-section__profile img {
  object-fit: cover;
  width: 75%;
  height: 43.75rem;
  border: 5px solid white;
  border-radius: 0.625rem;
}
.about-section__profile__icons {
  display: flex;
  justify-content: center;
  align-items: center;
}
.about-section__profile__icons a {
  padding: 0.3125rem 1.875rem;
  font-size: 2.5rem;
}
.about-section__profile__icons a i:hover {
  color: #23CE6B;
}

.experience-section {
  padding: 2rem;
}
.experience-section h2 {
  margin: 1.25rem 0;
  font-size: 2rem;
  color: #23CE6B;
  border-bottom: 2px solid #23CE6B;
  padding-bottom: 2px;
  width: max-content;
}
.experience-section__content {
  display: flex;
  align-items: center;
  margin: 0.625rem;
  font-size: 1.5rem;
}
.experience-section__content img {
  margin-right: 1.25rem;
  width: 6.35rem;
}
.experience-section__content h3 {
  border-bottom: 2px solid white;
  padding-bottom: 2px;
  width: max-content;
}
.experience-section__content h5 {
  margin-top: 0.3125rem;
}
.experience-section__content p {
  font-size: 1rem;
  margin-top: 0.3125rem;
}

.project-section {
  padding: 2rem;
}
.project-section h2 {
  margin: 1.25rem 0;
  font-size: 2rem;
  color: #23CE6B;
  border-bottom: 2px solid #23CE6B;
  padding-bottom: 2px;
  width: max-content;
}
.project-section__container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  font-size: 1.5rem;
}
.project-section__container .project-card {
  padding: 0.625rem;
}
.project-section__container .project-card__img img {
  width: 100%;
  border: 1px solid white;
}
.project-section__container .project-card__content h5 {
  text-align: center;
  margin-bottom: 0.3125rem;
}
.project-section__container .project-card__content h6 {
  text-align: center;
}
.project-section__container .project-card__content p {
  font-size: 1rem;
  margin-top: 0.3125rem;
}
.project-section__container .project-card__links {
  text-align: center;
  display: flex;
  justify-content: center;
  margin-top: 0.625rem;
}
.project-section__container .project-card__links__link {
  margin: 0.625rem;
  padding: 0.625rem;
  border: 1px solid white;
}
.project-section__container .project-card__links__link:hover {
  border: 1px solid #23CE6B;
}
.project-section__container .project-card__links__link:hover a {
  color: #23CE6B;
}
.project-section__container .project-card__links__link:hover i {
  color: #23CE6B;
}
.project-section__container .project-card__links__link a {
  text-decoration: none;
}

.contact-section {
  padding: 2rem;
}
.contact-section h2 {
  margin: 1.25rem 0;
  font-size: 2rem;
  color: #23CE6B;
  border-bottom: 2px solid #23CE6B;
  padding-bottom: 2px;
  width: max-content;
}
.contact-section__container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 2rem auto;
}
.contact-section__container .contact-form {
  border: 2px solid #23CE6B;
  border-radius: 5px;
  padding: 1rem;
  font-size: 2rem;
  font-weight: 200;
}
.contact-section__container .contact-form label {
  display: block;
  width: 100%;
  margin: 0.1875rem 0;
}
.contact-section__container .contact-form textarea, .contact-section__container .contact-form input {
  display: block;
  width: 100%;
  margin: 0.1875rem 0;
  border: 1px solid white;
  border-radius: 3px;
}
.contact-section__container .contact-form__button {
  display: flex;
  justify-content: center;
}
.contact-section__container .contact-form__button button {
  font-size: 1.5rem;
  font-weight: 200;
  width: 40%;
  border: 1px solid white;
  border-radius: 3px;
  padding: 0.3125rem 0;
  margin-top: 0.625rem;
  cursor: pointer;
}
.contact-section__container .contact-form__button button:hover {
  background-color: #23CE6B;
}

.footer {
  text-align: center;
  margin: 0.625rem 0;
}

@media only screen and (max-width: 768px) {
  .navbar {
    position: relative;
    font-size: 1rem;
  }
  .intro-section {
    font-size: 1rem;
    margin-left: 1rem;
  }
  .intro-section p {
    font-size: 1rem;
  }
  .about-section {
    display: grid;
    grid-template-columns: 1fr;
  }
  .about-section h2 {
    font-size: 1.5rem;
  }
  .about-section__text {
    padding: 1rem;
    width: auto;
    text-align: justify;
  }
  .about-section__text h3 {
    margin-top: 2rem;
  }
  .about-section__text table {
    padding-left: 0;
  }
  .about-section__profile {
    width: auto;
  }
  .about-section__profile img {
    height: auto;
  }
  .about-section__profile__icons a {
    font-size: 2rem;
    padding: 0.625rem 1.875rem;
  }
  .experience-section {
    padding: 1rem;
  }
  .experience-section h2 {
    font-size: 1.5rem;
  }
  .experience-section__content {
    display: inline;
    font-size: 1rem;
  }
  .experience-section__content img {
    display: none;
  }
  .project-section {
    padding: 1rem;
    font-size: 1rem;
  }
  .project-section h2 {
    font-size: 1.5rem;
  }
  .project-section__container {
    grid-template-columns: 1fr;
  }
  .contact-section {
    padding: 1rem;
  }
  .contact-section h2 {
    font-size: 1.5rem;
  }
  .contact-section__container form {
    font-size: 1rem;
  }
  .contact-section__container form button {
    font-size: 1rem;
  }
  .footer {
    text-align: center;
    font-size: 0.625rem;
  }
}
@media only screen and (min-width: 769px) and (max-width: 991px) {
  .navbar {
    font-size: 1.5rem;
  }
  .intro-section {
    margin-left: 1rem;
  }
  .intro-section p {
    font-size: 1.25rem;
  }
  .about-section {
    display: grid;
    grid-template-columns: 1fr;
  }
  .about-section__text {
    padding: 1rem;
    width: auto;
    text-align: justify;
  }
  .about-section__text h3 {
    margin-top: 2rem;
  }
  .about-section__profile {
    width: auto;
  }
  .about-section__profile img {
    height: 35rem;
  }
  .about-section__profile__icons a {
    padding: 0.625rem 1.875rem;
  }
  .experience-section {
    padding: 1rem;
  }
  .experience-section__content {
    display: grid;
    grid-template-columns: 1fr;
    font-size: 1rem;
    text-align: justify;
  }
  .experience-section__content img {
    display: none;
  }
  .project-section {
    padding: 1rem;
    font-size: 1rem;
  }
  .project-section__container {
    grid-template-columns: 1fr;
  }
  .contact-section {
    width: auto;
    padding: 1rem;
  }
  .contact-section__container form {
    font-size: 1.5rem;
  }
  .contact-section__container form button {
    font-size: 1rem;
  }
}
@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .navbar {
    font-size: 1.5rem;
  }
  .intro-section {
    margin-left: 1rem;
  }
  .about-section__text {
    padding: 1rem;
    text-align: justify;
  }
  .about-section__text h3 {
    margin-top: 2rem;
  }
  .about-section__text table {
    padding-left: 0;
  }
  .about-section__profile__icons a {
    font-size: 2rem;
    padding: 0.625rem 1.875rem;
  }
  .experience-section {
    padding: 1rem;
  }
  .experience-section h2 {
    font-size: 1.5rem;
  }
  .experience-section__content {
    display: grid;
    grid-template-columns: 1fr;
    font-size: 1rem;
    text-align: justify;
  }
  .experience-section__content img {
    display: none;
  }
  .project-section {
    padding: 1rem;
    font-size: 1rem;
  }
  .project-section h2 {
    font-size: 1.5rem;
  }
  .project-section__container {
    grid-template-columns: 1fr;
  }
}

/*# sourceMappingURL=style.css.map */
